@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    background-color: black;
    background-image: url('../img/top_stars.jpg');
    background-repeat: repeat-x;
    padding: 0;
}

#nav-row {
    height: 30px;
    background-color: black;
    opacity: 0.5;

    ul#nav {
        list-style: none;
        display: block;
        height: 30px;
        position: relative;
        left: 44%;

        li {
            height: 30px;
            display: inline-block;
            font-family: 'Open Sans', sans-serif;
            color: rgb(255, 255, 255);
            opacity: 1;
            padding: 5px;
        }

        li:hover {
            background-color: rgb(50,50,50);
            opacity: 1;
        }
    }
}

#content {
    font-family: 'Open Sans', sans-serif;
    color: rgb(230, 230, 230);
    text-align: justify;
}


#top-row {
    height: 200px;
    padding: 0;
    margin: 0;

    #header {
        width: 761px;
        height: 230px;
        margin: 0;
        background-image: url('../img/moon.png');
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;

        #header_text {
            font-family: 'Trade Winds', cursive;
            font-size: 100px;
            padding: 0;
            margin: 0;
            position: relative;
            left: 25%;
            top: 33%;
        }

        #header_desc {
            font-family: 'Open Sans', sans-serif;
            font-size: 25px;
            letter-spacing: 5px;
            padding: 0;
            margin: 0;
            position: relative;
            top: 22%;
            left: 25%;
        }
    }
}